<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää käyttäjä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Registration</h1>
  
		<form th:object="${newuser}" th:action="@{/saveuser}" action="#" method="post">
			<div>
				<label>Etunimi: <input type="text" th:field="*{firstName}" /></label>
				<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Username Error</p>	
			</div>
			
			<div>
				<label>Sukunimi: <input type="text" th:field="*{lastName}" /></label>
				<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Username Error</p>	
			</div>
			
			<div>
				<label>Käyttäjä: <input type="text" th:field="*{username}" /></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div>
				<label>Salasana: <input type="password" th:field="*{password}" /></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Salasana uudelleen: <input type="password" th:field="*{passwordCheck}" /></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" value="Save"></input>		
		</form>

</body>
</html>